[submodule "cs112 - Causal Inference/euro11-replication"]
	path = cs112 - Causal Inference/euro11-replication
	url = https://github.com/Munchic/euro11-replication
[submodule "cs162 - Software Engineering/cs162"]
	path = cs162 - Software Engineering/cs162
	url = https://github.com/quangntran/cs162
